
 body{
    background: url("../images/background.jpg");
    width: auto;
 }
 header{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: 'Sonsie One';
 }
 
 p{
    color: gray;
    font-size: 15px;
    text-align: right;
    font-family: 'Sonsie One', cursive;
 }



 .wifeImage{
    float:left;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
 }
 
 #housewife-form {
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: 'Sonsie One', cursive;
}
 
 #add-housewife {
    color: rgb(147, 59, 147);
    font-size: 15px;
    background-color: white(198, 177, 21);
    border: white 2px dashed;
    cursor: pointer;
 }
 
 #gifCol {
    color: black;
    font-family: 'Sonsie One', cursive;
    text-align: center;
 }
 
 .wife {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    background-color: transparent;
    color: rgb(255, 225, 0);
    border: transparent solid 5px;
    cursor: pointer;
 }
 
 .col-md-12 {
    text-align: center;
 }
 
 #housewife-input {
    font-size: 20px;
 }
 img{
    cursor: pointer;
 }